.App {
}
.App > button {
    font-size: 1.2em;
}
.Game {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(3, 110px [col-start]) 5%;
    grid-template-rows: repeat(2, 110px [row-start]) 5%;
}
